<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Shared" icon-off="ion-android-share-alt" icon-on="ion-android-share-alt" href="#/tab/shared">
    <ion-nav-view name="tab-shared"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="My Booking" icon-off="ion-bookmark" icon-on="ion-bookmark" href="#/tab/bookings">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Settings" icon-off="ion-android-settings" icon-on="ion-android-settings" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

</ion-tabs>
